/* body stuff 8*/
body {
    background: rgb(19, 19, 19);
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
}
/* button stuff */
.button2class{
    background-color: #358a38; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.button2class:hover, .slide:focus{
    box-shadow: inset 200em 0 0 0 #8fc866;
}

.button2class:active{
    transform: translateY(2px);
}




/* pokemon look an feel stuff */

.pokedexTitle{
    text-align: center;
}

.pokemonPage{
    max-width: 500px;
    margin: 0 auto;
    border: 2px dashed rgb(243, 242, 154);
    border-radius: 20px;
}

.pokemon-page-list{
    margin-top: 1px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 7px;
    list-style-type: none;
    text-align: center;
    
}
.button2class{
    border-radius: 10px;
    padding: 20px;
    width: 100%;
}







/* loader stuff */

.lds-dual-ring {
    display: inline-block;
    margin: auto;
    width: 1-px;
    height: 10px;
    margin-left: 50%;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  


  /* modal stuff */

  #modal-container {
    display: none;
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    
    /* to show it above other content */
    z-index: 999; 
    
    /* to allow scrolling if the screen is not high enough*/
    overflow: auto; 
    
    /* this is used to center the modal */
    text-align: center;
  }

#modal-container.is-visible{
      display: block;
  }



  



  .modal-pokeTitle{
    color: black;
    margin-top: 0;
  }

  .modal-title{
    text-align: center;
  }

  .modal-pokeId{
    color: black;
    margin-top: 0;
    margin-bottom: 0;
  }

  .modal-pokeHeight{
    color: black;
    margin-top: 0;
    margin-bottom: 0;
  }

  .modal-pokeType{
    color: black;
    margin-top: 0;
    margin-bottom: 0;
  }

  .modal-pokePic{
      text-align: center;
  }

  .modal-arrowdiv{
      display: inline-block;
      width: 100%;
      margin: auto;
      position: relative;
      top: -50px;
  }

  .modal-arrow-div-right{
      position: relative;
      float: right;
  }

  .modal-arrow-div-left{
    position: relative;
    float: left;
}




/* nav bar stuff */

.navbar{
  margin-bottom: 20px;
}